
@{
    ViewData["Title"] = "Registration";
}

<h2>Registration</h2>



<div class="col-md-6" style="text-align: center;">
    
    <a asp-controller="Account" asp-action="Register"><img src="~/images/resources/registration/artist.jpg" /></a>
</div>
<div class="col-md-6" style="text-align: center;">
    
    <a asp-controller="Account" asp-action="RegisterNormal"><img src="~/images/resources/registration/normal.jpg" /></a>
</div>