
@{
    Layout = "~/Views/Shared/_LayoutDir.cshtml";
    ViewData["Title"] = "Artist Directory";
}
<br />
<br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br />
<br /><br />

<br /><br />
<br />

<h3 class="text-center white">See some of the best artistic talent Southland has to offer</h3>
<br />
<div class="text-center"><a asp-area="" asp-controller="ArtistDirectories" asp-action="Index"><button class="butto white">Check it out</button></a></div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();

</script>
<script>
    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }</script>