
@{
    ViewData["Title"] = "Privacy Policy";
}
<br />
<div class="Paddy translucy">
    <br />
    <h2 class="text-center">Privacy Policy</h2>
    <br />

    <p class="pad-text">Arts Murihiku is in accordance with the New Zealand Privacy act of 1993. All data on this website is protected with up to date security and software</p>

    <h3>Information Sharing</h3><br />
    <div class="pad-text">
        <p>
            i. All Information given to <strong>Arts Murihiku</strong> including email addresses, passwords and other confidential
            information will no be shared without permission or knowledge of the person.
        </p>
        <p>ii. Profile visibility will be made clear to the user and details are changeable</p>
        <p>
            iii. <strong>Arts Murihiku</strong> does not claim responsibility for misuse of an account if
            the holder of said account shares it with other people and is not directly responsible for
            violating terms of use.
        </p>
        <p>
            iv. <strong>Arts Murihiku</strong> does not take responsibility for any repercussions and harm that may result
            from sharing information. It is recommended that users are aware of implications of sharing specific
            details and think before sharing.
        </p>
    </div>
    <h3>Cookies</h3><br />
    <div class="pad-text">
        <p>
            i. <strong>Arts Murihiku</strong> reserves the right to use cookies to enhance website users experience
            and for better use. Cookies can be refused by website visitors.
        </p>
        <p>ii. The website user will be made aware of said cookies and turn them down.</p>
        <p>iii. Cookies are safe and can be deleted at the will of the website user. </p>
    </div>
    <h3>Account Information</h3><br />
    <div class="pad-text">
        <p>
            i. All Information given to <strong>Arts Murihiku</strong> will be stored in a secure database with
            encrypted password and limited access. Any breach of rights on the part of <strong>Arts Murihiku</strong>
            will be resolved in a prompt and civil manner. All violating parties will be prosecuted as
            seen fit in a court of law.
        </p>
        <p>
            ii. Account information is reccommended to be kept exclusive and confidential to the user. <strong>Arts Murihiku</strong>
            does not take responsibility for misuse of shared information.
        </p>
        <p>
            iii. Information shared via account can be delete at request of the holder or if it violates
            terms of use.
        </p>
        <p>
            iv. <strong>Arts Murihiku</strong> will back up accounts for maintenence purposes in a safe and secure manner.
            <strong>Arts Murihiku</strong> endeavors to retain all relevant information and does not
            guarantee absolute prevention of loss as it is situational and uncertain.
        </p>
        <p>
            v. <strong>Arts Murihiku</strong> will notify the user of an event of data loss or account loss. <strong>Arts Murihiku</strong>
            may be contacted to provide further information if it is not initially made clear.
        </p>
        <br />
    </div>
    <h3></h3>
</div>

      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();

</script>
<script>
function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }</script>