
@{
    ViewData["Title"] = "Meet The Team";
}
<div class="Yeller noPad">
    <br />
    <h4 class="text-center Yeller">MEET THE TEAM</h4>
    <br />
</div>
<br /><br />
<br /><br />


<h3 class="text-center">The Team</h3>

<div class=" container">
    <div class="col-md-4 ">
        <a data-toggle="modal" data-target="#Lisa"><div class="btn"><img height="300" width="300" src="~/images/team/lisa.png" /> </div></a><br /><strong>Lisa Tou-McNaughton</strong>
    </div>
    <div class="col-md-4 ">
        <a data-toggle="modal" data-target="#Jeannie"><div class="btn"><img height="300" width="300" src="~/images/team/Jeannie.png" /> </div></a><br /><strong>Jeannie Dyer</strong>
    </div>
    <div class="col-md-4 ">
        <a data-toggle="modal" data-target="#Louise"><div class="btn"><img height="300" width="300" src="~/images/team/Louise Evans.png" /> </div></a><br /><strong>Louise Evans</strong>
    </div>
</div><br /><br />
<h3 class="text-center">The Trustees</h3>
<div class=" container">
    <div class="col-md-4 ">
        <a data-toggle="modal" data-target="#Paul"><div class="btn"><img height="300" width="300" src="~/images/trustees/paul duffy.png" /> </div></a><br /><strong>Paul Duffy</strong>
    </div>
    <div class="col-md-4 ">
        <a data-toggle="modal" data-target="#Amanda"><div class="btn"><img height="300" width="300" src="~/images/trustees/Amanda Knowles.png" /> </div></a><br /><strong>Amanda Knowles</strong>
    </div>
    <div class="col-md-4 ">
        <a data-toggle="modal" data-target="#Cyril"><div class="btn"><img height="300" width="300" src="~/images/trustees/Cyril Gilroy.png" /> </div></a><br /><strong>Cyril Gilroy</strong>
    </div>
</div>
<div class=" container">
    <div class="col-md-4 ">
        <a data-toggle="modal" data-target="#Darren"><div class="btn"><img height="300" width="300" src="~/images/trustees/Darren Rewi.png" /> </div></a><br /><strong>Darren Rewi</strong>
    </div>
    <div class="col-md-4 ">
        <a data-toggle="modal" data-target="#Emma"><div class="btn"><img height="300" width="300" src="~/images/trustees/Emma Carle.png" /> </div></a><br /><strong>Emma Carle</strong>
    </div>
    <div class="col-md-4 ">
        <a data-toggle="modal" data-target="#Joan"><div class="btn"><img height="300" width="300" src="~/images/trustees/Joan Kiernan.png" /> </div></a><br /><strong>Joan Kiernan</strong>
    </div>
</div>
<div class=" container">
    <div class="col-md-4 ">
        <a data-toggle="modal" data-target="#Rebecca"><div class="btn"><img height="300" width="300" src="~/images/trustees/Rebecca Amunsden.png" /> </div></a><br /><strong>Rebecca Amunsden</strong>
    </div>
    <div class="col-md-4 ">
        <a data-toggle="modal" data-target="#Alison"><div class="btn"><img height="300" width="300" src="~/images/trustees/Alison Broad.png" /> </div></a><br /><strong>Alison Broad</strong>
    </div>
    <div class="col-md-4 ">

    </div>
</div>
<br />
<br />
<br /><br />
<br /><br />
<br /><br />
<br /><br />
<br />
<br /><br />


<!-- Lisa Modal -->
<div id="Lisa" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-center">Lisa Tou-McNaughton</h2>
            </div>
            <div class="modal-body">
                <img class="center-block" height="300" width="300" src="~/images/team/lisa.png" /><br />
                <p><strong>Roles:</strong> Lisa serves as the Advocate to the artists of Southland</p>
                <p><strong>Interests:</strong> All forms of art, family, animals, the Southland Art scene.</p>
                <p>
                    <strong>Description:</strong> Lisa is the Artists advocate of Arts Murihiku and is on the constant hunt for new talent.
                    She strongly believes in the potential of Southland and what it will become! She is a visionary and gives everything all shes got.
                </p>
            </div>
            <div class="modal-footer">
                <img class="pull-left modalFooter" src="~/images/foot lolgo.png" /><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Jeannie Modal -->
<div id="Jeannie" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-center">Jeannie Dyer</h2>
            </div>
            <div class="modal-body">
                <img class="center-block" height="300" width="300" src="~/images/team/Jeannie.png" /><br />
                <p><strong>Roles:</strong> Administration</p>
                <p><strong>Interests:</strong> Coffee, All Art, Organisation</p>
                <p><strong>Description:</strong> Jeannie takes care of all the “boring stuff” at Arts Murihiku. She toils away at her role in administration, organising the company. Born and bred in Southland, you can’t take the Southland out of this girl! She is very fond of all Art that makes you smile!</p>
            </div>
            <div class="modal-footer">
                <img class="pull-left modalFooter" src="~/images/foot lolgo.png" /><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Louise Modal -->
<div id="Louise" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-center">Louise Evans</h2>
            </div>
            <div class="modal-body">
                <img class="center-block" height="300" width="300" src="~/images/team/Louise Evans.png" /><br />
                <p><strong>Roles:</strong> Marketing</p>
                <p><strong>Interests:</strong> Typography, comedic timing, taxidermy, proofreading</p>
                <p><strong>Description:</strong> Louise not only is the marketing hand of Arts Murihiku she also doubles as the creative director of Lemon creative. She is someone fuelled by ideas! She’ll also shout you tickets to events if you can find any spelling mistakes on the website or in any Arts Murihiku Publication!</p>
            </div>
            <div class="modal-footer">
                <img class="pull-left modalFooter" src="~/images/foot lolgo.png" /><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Paul Modal -->
<div id="Paul" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-center">Paul Duffy</h2>
            </div>
            <div class="modal-body">
                <img class="center-block" height="300" width="300" src="~/images/trustees/paul duffy.png" /><br />
                <p><strong>Roles:</strong> Chairman of Arts Murihiku, Deputy Mayor of Southland</p>
                <p><strong>Interests:</strong> Literacy, Southland History, Education, All Art </p>
                <p><strong>Description:</strong> Paul has been involved in many roles of governance in his time and been a Southland district councillor since 2001. His roles have included 18 years on school boards, 12 years a chairman, 8 years on the community trust of Southland and 7 on the Southland conservation board. Paul was an Art south trustee before his election of chair of Arts Murihiku, you can see Paul and his wife Alison attend a wide range of Arts events in Southland. Be sure to say hi!</p>
            </div>
            <div class="modal-footer">
                <img class="pull-left modalFooter" src="~/images/foot lolgo.png" /><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Amanda Modal -->
<div id="Amanda" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-center">Amanda Knowles</h2>
            </div>
            <div class="modal-body">
                <img class="center-block" height="300" width="300" src="~/images/trustees/Amanda Knowles.png" /><br />
                <p><strong>Roles:</strong> Trustee</p>
                <p><strong>Interests:</strong> Arts and culture</p>
                <p><strong>Description:</strong> For the past 10 years Amanda has served as the Academic Operations, Student support and business development manager at SIT (Southern Institute of Technology). Amanda is an enthusiastic consumer and supporter of the arts. She is passionate about keeping the arts alive through creating opportunities for participation and celebration of the arts and enhancing the arts and culture scene of Southland.</p>
            </div>
            <div class="modal-footer">
                <img class="pull-left modalFooter" src="~/images/foot lolgo.png" /><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Cyril Modal -->
<div id="Cyril" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-center">Cyril Gilroy</h2>
            </div>
            <div class="modal-body">
                <img class="center-block" height="300" width="300" src="~/images/trustees/Cyril Gilroy.png" /><br />
                <p><strong>Roles:</strong> Trustee</p>
                <p><strong>Interests:</strong> Helping out the community, Learning about Art</p>
                <p><strong>Description:</strong> Cyril has been a Kaimahi at Murihiku Marae for 26 years and has loved every moment of it. Part of role at the Marae is attending outside hui i.e. No. 10, Oranga Tamariki, Community law centre, Barnados, Fish n Game and also works in prisons doing the Tikaka programme. He claims not to be an artist but always looks forward to learning about Art and what it means.</p>
            </div>
            <div class="modal-footer">
                <img class="pull-left modalFooter" src="~/images/foot lolgo.png" /><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Darren Modal -->
<div id="Darren" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-center">Darren Rewi</h2>
            </div>
            <div class="modal-body">
                <img class="center-block" height="300" width="300" src="~/images/trustees/Darren Rewi.png" /><br />
                <p><strong>Roles:</strong> Trustee</p>
                <p><strong>Interests:</strong> Creative initiatives, Creative spaces, Rugby league </p>
                <p><strong>Description:</strong> Darren is very passionate about supporting initiatives and groups that provide creative outlets for residents. Darren has served in many governance roles between Southland and Queenstown and has represented Runaka and Iwi locally on many projects. Darren is currently finishing his term as chair of Wellington rugby league. </p>
            </div>
            <div class="modal-footer">
                <img class="pull-left modalFooter" src="~/images/foot lolgo.png" /><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Emma Modal -->
<div id="Emma" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-center">Emma Carle</h2>
            </div>
            <div class="modal-body">
                <img class="center-block" height="300" width="300" src="~/images/trustees/Emma Carle.png" /><br />
                <p><strong>Roles:</strong> Trustee</p>
                <p><strong>Interests:</strong> Music, Journalism</p>
                <p><strong>Description:</strong> Emma has studied composition and ethnomusicology at Victoria University and has worked at the Centre for New Zealand Music (SOUNZ). While living in Wellington she also organised the Chamber music NZ schools chamber music contest and hosted classical and world music shows on Radio Active. She is currently the events and promotions coordinator at the Gore District Council.</p>
            </div>
            <div class="modal-footer">
                <img class="pull-left modalFooter" src="~/images/foot lolgo.png" /><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Joan Modal -->
<div id="Joan" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-center">Joan Kiernan</h2>
            </div>
            <div class="modal-body">
                <img class="center-block" height="300" width="300" src="~/images/trustees/Joan Kiernan.png" /><br />
                <p><strong>Roles:</strong> Chair of the Southland Art Foundation</p>
                <p><strong>Interests:</strong> Visual and performing arts</p>
                <p><strong>Description:</strong> Joan is the current director of Strongbox wealth management a Queenstown based financial advisory and funds management business. Joans’ background is in finance, accounting and investment research. She has always had a keen interest in the arts namely paintings, theatre and music. She is the chair of the southland Art foundation which is well known for its artist-in-residence programme which is also known as the William Hodges Fellowship.</p>
            </div>
            <div class="modal-footer">
                <img class="pull-left modalFooter" src="~/images/foot lolgo.png" /><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Rebecca Modal -->
<div id="Rebecca" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-center">Rebecca Amunsden</h2>
            </div>
            <div class="modal-body">
                <img class="center-block" height="300" width="300" src="~/images/trustees/Rebecca Amunsden.png" /><br />
                <p><strong>Roles:</strong> Trustee, promotion coordinator(Gore)</p>
                <p><strong>Interests:</strong> Literacy, heritage, the community, the outdoors</p>
                <p><strong>Description:</strong> Rebecca is the Chair of the Dan David Literary Foundation and an avid supporter of the Arts in Southland. She also works as a contractor and a volunteer as a co-ordinator of arts, heritage and community events.  Rebecca is also an experienced community engagement practitioner and in her spare time is an oral historian, cross fitter, camper and proud mother.</p>
            </div>
            <div class="modal-footer">
                <img class="pull-left modalFooter" src="~/images/foot lolgo.png" /><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!-- Alison Modal -->
<div id="Alison" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title text-center">Alison Broad</h2>
            </div>
            <div class="modal-body">
                <img class="center-block" height="300" width="300" src="~/images/trustees/Alison Broad.png" /><br />
                <p><strong>Roles:</strong> Trustee, Consultant</p>
                <p><strong>Interests:</strong> Music of many genres, conservation, philanthropy</p>
                <p><strong>Description:</strong> Alison loves music! In her youth she played with the Southland youth orchestra. From music her love of the art began and is ever expanding. Alison has severed several years as a trustee of the Southland Art Foundation which she has re-joined. Her additional current roles include being a member of the Southland conservation board and being a co-founder of the Women’s’ Self Defence Network Wahine Toa.  In her job Alison undertakes consultancy for community projects and capacity building across social services, housing, education, conservation and disability issues.</p>
            </div>
            <div class="modal-footer">
                <img class="pull-left modalFooter"  src="~/images/foot lolgo.png" /><button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<br /><br />
<br />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();

</script>
<script>
    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }</script>