
@{
    ViewData["Title"] = "Terms Of Use";
}<br />
<div class="Paddy translucy">
    <br /><h2 class="text-center">Terms Of Use</h2>

    <h3>Artist information</h3><br />
    <div class="pad-text">
        <p>i. All information given to <strong>Arts Murihiku</strong> from an Artist will not be illegally or unwilligly shared</p>
        <p>ii. An Artist has the right to have their profile removed or content taken down if requested</p>
        <p>iii. An Artist has the right to choose any name given that it is not offensive, rasict or slanderous</p>
        <p>
            iv. An Artist can add themselve to the directory once under a given email address, additional times require additional emails and
            only reccommended for the use of advertising and art space or gallery for example as opposed to the same individual.
        </p>
        <p>
            v. An Artist is solely responsible for arranging an event. <strong>Arts Murihiku</strong> only allows it to be seen by everyone on the calendar
            and is not responsible for it hereafter.
        </p>
        <p>
            vi. <strong>Arts Murihiku</strong> reserves the right to remove any material from the site if it is deemed sexually offensive,
            racist or a malicious targeted attack at someone.
        </p>
    </div>

    <h3>User Rights</h3><br />
    <div class="pad-text">
        <p>i. Anyone can be an "Artist" this may be a subjective concept but Arts Murihiku is inclusive</p>
        <p>ii. Users are not allowed to add events unless requested and accepted via. <a asp-area="" asp-controller="Home" asp-action="Contact">contact</a>.</p>
        <p>iii. Users are subject to the same terms of use of posting material to the blog.</p>
    </div>
    <h3>Website</h3><br />
    <div class="pad-text">
        <p>
            i. <strong>Arts Murihiku</strong> reserves the right to remove users if they display a constant disrepect for
            people on the site or continuously post obscene material.
        </p>
        <p>
            ii. <strong>Arts Murihiku</strong> is not responsible for arranging events of artists but merely for display.
        </p>
        <p>iii. <strong>Arts Murihiku</strong> does not encourage prejudice or extremism and all such posts are discouraged and will be reomved</p>
        <p>
            vi. <strong>Arts Murihiku</strong> can not service artists and will not allow events outside of Southland,
            Queenstown, Glenorchy, Arrowtown, Tapanui and Heriot areas.
        </p>
        <p>
            vii. <strong>Arts Murihiku</strong> does not guarantee a timeframe for reply to contact. It will be within
            3 working days depending on volume of pre-existing contacts send and the situation at hand.
        </p>
        <br />
    </div>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();

</script>
<script>
    function openNav() {
        document.getElementById("myNav").style.height = "100%";
    }

    function closeNav() {
        document.getElementById("myNav").style.height = "0%";
    }</script>