
@{
    ViewData["Title"] = "ThankYou";

}

    <div class="jumbotron text-xs-center" style="align-items:center;">
        <h1 class="display-3">Thank You!</h1>
        <p class="lead">Please come back and check out the shop again</p>
        <hr>
        <p>
            Having trouble? <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
        </p>
    </div>
