

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutDebug.cshtml";
}
<div>
    <h2>Welcome to the Arts Murihiku blog space</h2>
    <br />
    <p>People feel free to express yourselves here. We welcome creativity and expression. Please nothing
    obscene or offensive it will be removed. See what everyone is talking about and have a look around.
    </p>

    </div>
    <script>
        document.getElementById('mNavbar').style = 'visibility: hidden;';
    </script>

    @*<a asp-action="Edit" asp-route-id="@Model.BlogID">Edit</a>
        <a asp-action="Index">Back to List</a>*@
